body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 216, 206);
    padding: 2vh;
    font-family: fantasy;
    font-size: xx-large;
    font-weight: 700;
    color: cornflowerblue;
    position: absolute;
    top: 50vh;
    left: 50vw;
    translate: -50% -50%;
  }